{% extends 'base.html' %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>This is a template</p>

    <p>
        {{ text }}
    </p>
    <p><strong>phone</strong>
        {{ phone }}
    </p>
    <p>
        <ul><strong>Authors:</strong>
            {% for author in authors %}
                {% if author == 'Alex' %}
                <li>{{ forloop.counter }} - <strong>{{ author|upper }}</strong></li>
                {% else %}
                <li>{{ forloop.counter }} - {{ author }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </p>
{% endblock %}